<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1274023267'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274023267%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script>
        //    事件跟踪
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274023267"]);
    </script>

</head>
<body>
    <p>fafaf</p>
    <button onclick="_czc.push(['_trackEvent', '按钮', '下载', '下载量', '', 'downloadId']);" id="downloadId">下载</button>
    <p id="test">fasfas</p>

</body>
<script>

    var test = document.getElementById("test");
    test.style.visibility='hidden'
    var test2 = document.getElementById("cnzz_stat_icon_1274023267");
    test2.style.visibility='hidden'

//    test.css({"display" : "none"})
    function download() {

    }
</script>
</html>